.btn-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 150px;
  button {
    cursor: pointer;
    width: 100%;
    margin: 0 0;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.1rem;
    background-color: darkcyan;
    color: lightcyan;
    border: none;
    border-radius:4px ;
    padding: 10px 10px;
    &:active{
      background-color: lightskyblue;
    }
  }
  input {
    margin-top: 10px;
    &[type=text]{
      width: 80%;
    }

  }
}
.input-container{
   display: flex;
}
.invisible{
  display: none;
}