@import "~reset-css";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;500&display=swap');
//font-family: 'Bebas Neue', cursive;
//font-family: 'Roboto', sans-serif;
html{
  font-family:'Roboto', sans-serif;
  font-weight:normal;
}
html::-webkit-scrollbar{
  display: none;
}
.victory-letter{
  display: flex;
  align-items: center;
  height: 60px;
  object-fit: contain;
  justify-content: center;
  img{
    height: 60px;
    width: 120px;
  }
}