.modal{
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  transform: scale(0);
  justify-content: center;
  &.active{
  transform: scale(1);
}
}
.modal-content{
  padding: 20px;
  border-radius: 12px;
  background-color: white;
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  h4{
    margin-top: 10px;
    font-size: 28px;
    line-height: 56px;
    margin-bottom: 40px;
  }
  label{
    max-width: 556px;
    margin: 0 auto;
    width: 60%;
    color:black;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: flex-start;
  }
  input {
    max-width: 556px;
    width: 60%;
    height: 89px;
    border: none;
    font-size: 48px;
    line-height: 56px;
    border-bottom: 1px solid black;
    margin: 0 auto 20px auto;
  }
}
.form-body{
  display: flex;
  flex-direction: column;
}
.form-footer{
  padding-top: 60px;
  button{
    cursor: pointer;
    font-size: 22px;
    line-height: 26px;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 36px;
  }
  .cancel{
     background: #E53935;;
  }
  .apply{
    background: #4FBE79;
  }
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
@media (max-width: 690px) {
  .form-footer button{
    padding: 12px 16px;
    font-size: 16px;
    line-height: 20px;
  }
}
