$resolution: 1920px;
$white:white;
$dark-blue: #080029;
$aqua:#D9E8FF;
$grey:#F0F0F0;
$dark-grey:#626262;
$black:#0B0B0B;

@mixin text($property) {
  width: $property;
}
.body{
 // background: url("../../assets/images/map.png") no-repeat;
}

.wrapper{
  padding-top: 25px;
  max-width: $resolution -(2*69.5);
  margin: 0 auto;
}

.visual-hidden{
  display: none;
}

.header-box{
  background: #FCFCFC;
  margin-bottom: 52px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 2px solid $grey;
}

.header-logo{
  border-right:2px solid $grey;
  padding: 24px 18px 23px 18px;
}
.header-nav{
  padding-left: 94px;
  padding-right: 672px;
}
.nav-list{
  display: flex;
  flex-wrap: wrap;
}

.nav-item{
  padding-right: 130px;
}

.nav-item:last-child{
  padding-right: 0;
}

.nav-link {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
  color: $dark-blue;
}
.nav-link:active {
  color: $aqua;
}

.nav-link:hover {
  opacity: .75;
}

.nav-about{
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
  color: $dark-blue;
  text-shadow: 1px 0 0 currentColor;
  pointer-events: none;
}

.wrapper-main{
  max-width:$resolution -(2*242);
  margin: 0 auto;
}
.map{
  color: $aqua;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
}
/*  side bar*/
.side-bar{
  position: fixed;
  left: 68.5px;
  top: 25px;
  background: #FCFCFC;
}
.aside-logo{
  border-bottom:2px solid $grey;
  padding: 24px 18px 23px 18px;
}
.arrows{
  padding-left: 2px;
}
.aside-section{
  max-width: 90px;
  border: 2px solid $grey;
}
.aside-link:hover{
  opacity: .50;
}
.aside-list{
  padding-left: 17px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.aside-item{
  padding-bottom: 70px;
}
.aside-item:last-child{
  padding-bottom: 0;
}
.aside-arrow{
  padding-left: 21px;
}