.small-table{
  max-width: 1000px;
  width: 100%;
  margin: 0 auto 50px auto;
  border: 1px solid black;
  .table-name{
    h3{
      margin: 0;
      padding: 10px;
    }

    background-color: lightskyblue;
    width: 100%;
  }
}
.table-body{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  .table-elem{
     width: 18.75%;
    font-weight: 300;
  }
  .table-elem-word{
    width: 25%;
  }
}

@media (max-width: 400px) {
  .table-elem-word, .table-elem{
    font-size: 14px;
  }
}
