.menu{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: absolute;
  width: 340px;
  height: calc(100vh + 22px);
  margin: -100px 0 0;
  padding: 125px 50px 50px;
  left: calc(675px - 50vw);
/*  background: linear-gradient(40deg,#ffd86f,#fc6262);*/
  background: linear-gradient(40deg,#1E90FF,#0099ae);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: translate(-100%);
  transform: translate(-100%);
  -webkit-transition: -webkit-transform .5s cubic-bezier(.77,.2,.05,1);
  transition: -webkit-transform .5s cubic-bezier(.77,.2,.05,1);
  transition: transform .5s cubic-bezier(.77,.2,.05,1);
  transition: transform .5s cubic-bezier(.77,.2,.05,1),-webkit-transform .5s cubic-bezier(.77,.2,.05,1);
}
.menu-item{
  text-decoration: none;
  width: fit-content;
  margin-left:40px ;
  padding: 10px 0;
  font-size: 22px;
  cursor: pointer;
  color: white;
}
.menuToggle input:checked~.menu {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.active{
  color: #00bf82;
}

@media (max-width: 1430px){
  .menu {
    left: calc(500px - 50vw);
  }
}


@media (max-width: 1080px){
  .menu {
    left: calc(325px - 50vw);
  }
}

@media (max-width: 740px){
  .menu {
    width: 320px;
    left: calc(150px - 50vw);
  }
}
