$resolution: 1920px;
$white:white;
$dark-blue: #080029;
$aqua:#D9E8FF;
$grey:#F0F0F0;
$dark-grey:#626262;
$black:#0B0B0B;

body::-webkit-scrollbar{
  display: none;
}

@mixin text($property) {
  width: $property;
}

.wrapper{
  padding-top: 25px;
  max-width: $resolution -(2*60);
  margin:0 auto 0 auto;
}

.visual-hidden{
  display: none;
}

.header-box{
  background: $white;
  height: 87px;
  margin-bottom: 52px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 2px solid $grey;
}

.header-logo{
  position: fixed;
  border-right:2px solid $grey;
  padding: 24px 18px 23px 18px;

}
.header-nav{
  padding-left: 184px;
  padding-right: 672px;
}
.nav-list{
  display: flex;
  flex-wrap: wrap;
}

.nav-item{
  padding-right: 130px;
}

.nav-item:last-child{
  padding-right: 0;
}

.nav-link {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
  color: $dark-blue;
}
.nav-link:active {
  color: $aqua;
}

.nav-link:hover {
  opacity: .75;
}
.nav-about{
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
  color: $dark-blue;
}
.active {
  text-shadow: 1px 0 0 currentColor;
  pointer-events: none;
}
.wrapper-main{
  max-width:$resolution -(2*243);
  margin: 0 auto 0 auto;
}
.map{
  color: $aqua;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
}
/* side-bar section*/
.side-bar{
  position: fixed;
  top: 25px;
  width: 90px;
  background: transparent;
}
.aside-section{
  width: 90px;
  height: 760px;
  border: 2px solid $grey;
  background: $white;
}
.aside-link:hover{
  opacity: .50;
}
.aside-list{
  padding-left: 33px;
  padding-top: 340px;
  padding-bottom: 100px;
}
.aside-item{
  padding-bottom: 50px;
}
.aside-item:last-child{
  padding-bottom: 0;
}
.aside-arrow{
  padding-left: 21px;
}
/* watch section*/

.watch{
  margin-bottom: 137px;
}
.watch-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.watch-article{
  padding-top:80px;
}

.watch-h2{
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.115em;
  margin-bottom: 10px;
  color: $dark-grey;
}

.watch-text{
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 84px;
  line-height: 106px;
  max-width: 697px;
  color: $dark-blue;
  margin-bottom: 54px;
}

.watch-article-dot{
  position: relative;
  max-width: 18px;
  height: 18px;
  left: 144.5px;
  top: 241.5px;
}

.watch-buttons{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 580px;
}


.watch-btn-watch{
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #0F0049;
  padding: 20px 75px;
  border: 2px solid #0F0049;
  box-sizing: border-box;
  border-radius: 5px;
  background: none;
}
.watch-btn-zoo{
  padding: 20px 75px;
  background: #0F0049;
  border-color:#0F0049;
  border-radius: 5px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: $white;
}
.watch-btn-zoo:active{
   background:#150068;
  border-color:#150068;
}
.watch-btn-watch:active{
   color:$dark-blue;
   border-color:$dark-blue;
}
.watch-btn-zoo:hover{
  background:$dark-blue;
  border-color:$dark-blue;
}
.watch-btn-watch:hover{
  color: #3888FF;
  border-color: #3888FF;
}
/*  How Zoo works    */
.zoo-works-article{
  padding-top: 140px;
}
.zoo-works-text1{
  @include text(696px);
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 52px;
  color:$dark-blue;
  margin-bottom:40px;
}
.zoo-works-text2{
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  @include text(693px);
  color: #747474;
  margin-bottom: 60px;

}
.zoo-works{
  margin-bottom: 110px;
}
.zoo-works-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.zoo-works-h2{
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: $black;
  letter-spacing: 0.115em;
  margin-bottom: 50px;
}
.zoo-works-button{
  padding: 20px 75px;
  background: #0F0049;
  border-radius: 5px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: $white;
  border-color: #0F0049;
}
.zoo-works-button:active{
  background:#150068;
  border-color:#150068;
}
.zoo-works-button:hover{
  background:$dark-blue;
  border-color:$dark-blue;
}
.aside-logo{
  border-bottom:2px solid $grey;
  padding: 24px 18px 23px 18px;
}
/*   Famous pet   */
.fam-pet{
  background: #D9E8FF ;
  max-height: 896px;
}
.fam-pet-container{
  padding-top:100px ;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.fam-pet-section{
  padding-top: 217px;
}
.fam-pet-h2{
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.115em;
  color: $black;
  margin-bottom: 50px;
}

.fam-pet-h3{
  font-family: 'Merriweather', serif;
  font-style: normal;
  max-width: 325px;
  font-weight: bold;
  font-size: 36px;
  line-height: 52px;
  color: $dark-blue;
  margin-bottom: 55px;
}
.fam-pet-arrows{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 155px;
}
.fam-pet-btn:hover{
  .fam-pet-btn-stroke{
    fill:$dark-blue;
  }

}
.fam-pet-grid{
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows:repeat(2,1fr) ;
}
.fam-pet-card{
  position: relative;
  width: 328px;
  height: 328px;

  &:hover{
    .fam-pet-circle-cross{
      transition: opacity 0.05s ease-in-out;
      opacity: 0;
    }
    .circle{
      left:0;
      height: 238px;
      width: 238px;
      margin-bottom: 14px;
      background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15));
    }
    .fam-pet-circle-text {
      visibility: visible;
      text-align: center;
      opacity: 0.8;
      width: 189px;
      padding-left: 20px;
    }
    .panda {
      padding-top: 30px;
    }

    .squirell{
      padding-top: 20px;
    }

    .penguin {
      padding-top: 5px;
    }

    .fam-pet-grid-button span {
      display: none;
    }

    .fam-pet-grid-button:after {
      content: "Follow →";
      cursor: pointer;
    }

    .card-image {
      filter: brightness(85%);
      filter: blur(1px);
      transform: scale(1.05)
    }
  }
}
.img-container{
  width: 328px;
  height: 328px;
  overflow: hidden;
  border-radius: 5px;
}
.card-image {
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}


.fam-pet-card:after{
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 0;
  position: absolute;
  top:0;
  left: 0;
}
.card-image{
  object-fit: cover;
}
.circle{
  align-self: center;
  border-radius: 100%;
  border: 2px solid $white;
  box-sizing: border-box;
  height: 76px;
  width: 76px;
  display: block;
  margin: 0 auto 43px auto;
  transition: all 0.1s ease-in-out;
}
.fam-pet-circle-cross{
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 44px;
  line-height: 64px;
  text-align: center;
  color: $white;
  opacity: 0.8;
  height: 76px;
  width: 76px;
  padding-top: 2px;
  transition: all 0.5s ease-in-out;
}
.fam-pet-circle-text{
  transition: opacity 0.2s ease-in-out;
  visibility: hidden;
  font-family: "Rubik",sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 154%;
  color: $white;
  opacity: 0;
}
.fam-pet-title{
 position: absolute;
  bottom: 25px;
}
.fam-pet-grid-button{
  font-family: 'Rubik',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  border: none;
  background: none;
  color: $white;
  opacity: 0.8;
  width: 328px;
  display: block;
  margin: 0 auto;
}
/*     Pay and feed     */

.wrapper-pay{
  padding-top: 100px;
  max-width: $resolution - (116*2);
  margin: 0 auto 0 auto;
}
.pay-container{
  padding-left: 312px;
}
.pay-h2{
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.115em;
  color: #0B0B0B;
  margin-bottom: 80px;
}

.pay-h3{
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 36px;
  line-height: 52px;
  color: #0F0049;
}
.safe-img{
  width: 278px;
  height: 214px;
}
.pay-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 824px;
}
.pay-visa-article{
  padding-top: 15px;
}
.pay-article-text{
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  max-width: 456px;
  color: #747474;
}
.pay-arrow1{
  padding-top: 25px;
  padding-left: 100px;
}
.big-section{
  max-width: 100%;
  justify-content: flex-end;
}
.pay-delivery-article{
  padding-top: 124px;
  padding-left: 56px;
}
.pay-arrow2{
  padding-top: 180px;
  padding-right: 26px;
}
.dinner-h3{
  max-width:363px;
}
.pay-dinner-article{
  padding-top: 41px;
  margin-bottom: 155px;
}
.diner-image{
  padding-left: 20px;
  width: 312px;
  height: 312px;
}

/*     Testimonials     */
.testimonials{
  background: #080029;
}
.wrapper-testim{
  margin: 0 auto;
  max-width: $resolution - (60 *2);

}
.testim-container{
  justify-content: space-between;
  padding-top: 100px;
  display: flex;
  padding-left: 183px;
  flex-wrap: wrap;
  padding-bottom: 100px;
}
.testim-h2{
  margin-bottom: 62px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.115em;
  color: $white;
}
.testim-h3{
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 52px;
  color: $white;
  margin-bottom: 40px;
}
.testim-article-text{
  margin-bottom: 60px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: $white;
  max-width: 512px;
}
.testim-article-btn{
  background: none;
  border: 2px solid $white;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: $white;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 20px 75px;
}
.testim-article-btn:active{
  border-color: #3888FF;
}
.testim-article-btn:hover{
  border-color: cyan;
  color:cyan;
}
.testim-section-btn{
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: $white;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  height: 21px;
  margin-bottom: 20px;
}
.testim-section-grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap:40px ;
  margin-bottom: 25px;
}
.testim-comment{
  width: 512px;
  height: 273px;
  background: $white;
  border-radius: 15px;
}
.comment-title{
  padding-top: 47px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #181818;
  padding-left: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 30px;
}
.comment-avatar{
  padding-right: 20px;
}
.comment-text{
  padding-right: 40px;
  padding-left: 40px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #181818;
}
.testim-btns{
  display: flex;
  justify-content: space-between;
  width: 150px;
}
.testim-btn-arrow:hover{
  .testim-btn-arrow-stroke{
    fill: #609FFF;
  }
}
/* zoo geo section*/

.zoo-geo-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top:50px ;
  padding-left: 159px;
}
.wrapper-zoo-geo{
  margin: 0 auto;
  max-width: $resolution - (2 * 85);
}

.zoo-geo-card{
  height: 512px;
  max-width:344px;
  background: #FCFCFC;
  box-shadow: 4px 12px 22px rgba(0, 0, 0, 0.06);
  border-radius: 15px;
}
.zoo-geo-h2{
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.115em;
  color: #000000;
  margin-top: 50px;
  margin-bottom: 62px;
}
.zoo-geo-h3{
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 52px;
  text-align: center;
  color: $dark-blue;
  margin-bottom: 20px;
}
.zoo-geo-card-text{
  max-width: 264px;
  padding-left:40px ;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #747474;
  margin-bottom: 52px;
}
.zoo-geo-card-img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-bottom: 20px;
}
.zoo-geo-btn{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #3888FF;
  background: none;
  border: none;
  margin-left: 100px;
  width: 140px;
  height: 21px;

}
.zoo-geo-link{
  text-decoration: none;

}
.zoo-geo-btn:active{
  opacity: .50;
}
.zoo-geo-map{
  position: relative;
  width: 1223px;
  height: 700px;
  background: url(assets/images/world-map-small.svg);
  margin-bottom: 113px;
}
.zoo-geo-map-icons{
  position: absolute;
  &:hover{
    transition: all 0.6s ease-in-out;
    cursor: pointer;
    width: 140px;
    height: 168px;
    .stroke-class{
      stroke:#609FFF;
    }
  }
}
.eagle-icon{
  left: 120px;
  top: 180px;
}
.eagle-icon:hover{
  left: 108px;
  top: 150px;
}
.alligator-icon{
  left: 253px;
  top: 206px;
}
.alligator-icon:hover{
  left: 241px;
  top: 176px;
}
.gorilla-icon{
  left: 571px;
  top: 333px;
}
.gorilla-icon:hover{
  left: 559px;
  top: 303px;
}
.panda-icon{
  left: 889px;
  top: 194px;
}
.panda-icon:hover{
  left: 877px;
  top: 164px;
}
/*     Footer*/
.footer{
  background-color: black;
}
.wrapper-footer{
  max-width: $resolution -(233*2);
  margin: 0 auto;
}
.footer-container{
  padding-left: 11px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 100px;
  border-bottom:1px solid #747474;
}
.footer-logo{
  margin-bottom: 192px;
}
.footer-school{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
 width: 303px;
}
.footer-x{
  width: 9px;
  height: 19px;
  left: 142px;
  top: 22px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: $white;
}
.footer-nav-item{
  padding-bottom: 30px;
}
.footer-nav-item:first-child{
  padding-bottom: 40px;
}
.footer-link{
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #BCBCBC;
  text-decoration: none;
}
.footer-h2{
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.115em;
  color: $white;
}
.sup-h2{
  margin-bottom: 46px;
}
.footer-sup-text{
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #BCBCBC;
  text-decoration: none;
  width:332px ;
  margin-bottom: 40px;
}
.footer-volunteers-socials{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 339px;
  margin-bottom: 166px  ;
}
.footer-btn{
  border: 2px solid #FCFCFC;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 20px 75px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  background: none;
  color: #FCFCFC;
  margin-bottom: 80px;
}
.footer-socials{
  color: #BCBCBC;
  font-family: 'Rubik', sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.footer-copyrights{
  padding-top: 50px;
  padding-bottom: 59px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.h3-sub{
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: #BCBCBC;
}
.footer-btn:hover{
  color: #3888FF;
  border-color: #3888FF;
}