$resolution: 1920px;
$white:white;
$dark-blue:#080029;
$aqua:#D9E8FF;
$grey:#F0F0F0;
$dark-grey:#626262;
$black:#0B0B0B;

@mixin text($property) {
  width: $property;
}
.wrapper{
  padding-top: 25px;
  max-width: $resolution -(2*69.5);
  margin: 0 auto;
}

.visual-hidden{
  display: none;
}

.header-box{
  background: $white;
  margin-bottom: 52px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 2px solid $grey;
}

.header-logo{
  border-right:2px solid $grey;
  padding: 24px 18px 23px 18px;
}
.header-nav{
  padding-left: 94px;
  padding-right: 672px;
}
.nav-list{
  display: flex;
  flex-wrap: wrap;
}

.nav-item{
  padding-right: 130px;
}

.nav-item:last-child{
  padding-right: 0;
}

.nav-link {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
  color: $dark-blue;
}
.nav-link:hover {
  color: $aqua;
}

.nav-link:active {
  opacity: .75;
}


.nav-about{
  font-weight: 500;
}

.wrapper-main{
  max-width:$resolution -(2*242);
  margin: 0 auto;
}
/* side-bar section*/
.side-bar{
  position: fixed;
  left: 60px;
  top: 25px;
}
.aside-section{
  width: 90px;
  height: 760px;
  border: 2px solid $grey;
}
.aside-link:hover{
  opacity: .50;
}
.aside-list{
  padding-left: 33px;
  padding-top: 340px;
  padding-bottom: 100px;
}
.aside-item{
  padding-bottom: 50px;
}
.aside-item:last-child{
  padding-bottom: 0;
}
.aside-arrow{
  padding-left: 21px;
}
/* watch section*/

.watch{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 137px;
}

.watch-article{
  padding-top:80px;
}

.watch-h2{
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.115em;
  margin-bottom: 10px;
  color: $dark-grey;
}

.watch-text{
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 84px;
  line-height: 106px;
  width: 697px;
  color: $dark-blue;
  margin-bottom: 54px;
}

.watch-article-dot{
  position: relative;
  width: 18px;
  height: 18px;
  left: 144.5px;
  top: 241.5px;
}

.watch-buttons{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 580px;
}

.watch-btn-watch{
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: $dark-blue;
  padding: 20px 75px;
  border: 2px solid $dark-blue;
  box-sizing: border-box;
  border-radius: 5px;
  background: none;
}

.watch-btn-zoo{
  padding: 20px 75px;
  background: $dark-blue;
  border-color: $dark-blue;
  border-radius: 5px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: $white;
}
.watch-btn-zoo:active,
.watch-btn-watch:active{
  color:$aqua;
}
/*   Famous pet   */
.fam-pet-article{
  padding-top: 140px;
}
.fam-pet-text1{
  @include text(696px);
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 52px;
  color:$dark-blue;
  margin-bottom:40px;
}
.fam-pet-text2{
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  @include text(693px);
  color: #747474;
  margin-bottom: 60px;

}
.fam-pet{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.fam-pet-h2{
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: $black;
  letter-spacing: 0.115em;
  margin-bottom: 50px;
}
.fam-pet-button{
  padding: 20px 75px;
  background: #0F0049;
  border-radius: 5px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: $white;
  border-color: $dark-blue;
}
.fam-pet-button:active{
  color:$aqua;
}
.aside-logo{
  border-bottom:2px solid $grey;
  padding: 24px 18px 23px 18px;
}