body::-webkit-scrollbar {
  display: none;
}

.wrapper {
  max-width: 1800px;
  margin: 0 auto;
  padding-top: 25px;
}

.visual-hidden {
  display: none;
}

.header-box {
  background: #FFFF;
  height: 87px;
  margin-bottom: 68px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 2px solid #F0F0F0;
}

.header-logo {
  position: fixed;
  left: 60px;
  top: 25px;
  border-right: 2px solid #F0F0F0;
  padding: 24px 18px 23px 18px;
}

.header-nav {
  padding-left: 184px;
  padding-right: 672px;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
}

.nav-item {
  padding-right: 130px;
}

.nav-item:last-child {
  padding-right: 0;
}

.nav-link {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
  color: #080029;
}

.nav-link:active {
  color: #D9E8FF;
}

.nav-link:hover {
  opacity: 0.75;
}

.nav-about {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
  color: #080029;
}

.active {
  text-shadow: 1px 0 0 currentColor;
  pointer-events: none;
}

.wrapper-main {
  max-width: 1436px;
  margin: 0 auto;
}

.map {
  color: #D9E8FF;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
}

/* side-bar section*/
.aside-btn:hover {
  opacity: 0.5;
}

.aside-icon:hover .icon-stroke {
  stroke: #150068;
}

.side-bar {
  position: fixed;
  top: 25px;
  background: #FFFF;
}

.aside-section {
  max-width: 90px;
  border: 2px solid #F0F0F0;
}

.aside-link:hover {
  opacity: 0.5;
}

.aside-list {
  padding-left: 17px;
  padding-top: 29px;
  padding-bottom: 30px;
}

.aside-item {
  padding-bottom: 36px;
}

.aside-item:last-child {
  padding-bottom: 0;
}

.aside-logo {
  border-bottom: 2px solid #F0F0F0;
  padding: 24px 18px 23px 18px;
}

.aside-arrow {
  padding-left: 21px;
}

/* main cam*/
.wrapper-cams {
  margin: 0 auto;
  max-width: 1790px;
}

.cam-donate-h3 {
  padding-top: 10px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #0B0B0B;
}

.donate-main-h3 {
  padding-top: 55px;
  font-family: "Merriweather", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 38px;
  color: #080029;
  margin-bottom: 20px;
}

.title-watch-text {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #747474;
}

.main-cam-donate {
  max-width: 511px;
}

.donate-title {
  max-width: 420px;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #E3E3E3;
  padding-bottom: 30px;
}

.title-watch {
  display: flex;
  flex-wrap: wrap;
}

.main-cam-section {
  display: flex;
  flex-wrap: wrap;
  padding-left: 179px;
}

.donate-title-avatar {
  padding-right: 20px;
}

.cam-main {
  padding-right: 40px;
}

.donate-main-text {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #747474;
  max-width: 336px;
  margin-bottom: 40px;
}

.donate-main-btn {
  background: #0F0049;
  border-radius: 5px;
  padding: 20px 75px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FCFCFC;
  border: none;
}

.donate-main-btn:active {
  background: #150068;
  border-color: #150068;
}

.donate-main-btn:hover {
  background: #080029;
  border-color: #080029;
}

/*     Intresting facts*/
.intr-facts {
  padding-left: 179px;
}

.intr-facts-h3 {
  font-family: "Merriweather", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 52px;
  color: #080029;
  margin-bottom: 30px;
}

.title-facts-text {
  max-width: 512px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #747474;
}

.intr-facts-title {
  padding-top: 60px;
  margin-bottom: 56px;
}

.intr-facts-card {
  margin-bottom: 20px;
  max-width: 1432px;
  border-bottom: 1px solid #609FFF;
}

.card-big-text {
  max-width: 1381px;
}

.facts-card-btn {
  padding-left: 0;
  font-family: "Rubik", sans-serif;
  background: none;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 38px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 1432px;
  color: #609FFF;
  margin-bottom: 30px;
}

.card-big-text {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 30px;
  color: #747474;
}

/*         Other cam*/
.other-cam-section {
  padding-left: 179px;
}

.other-cam-title {
  display: flex;
  flex-wrap: wrap;
  padding-top: 60px;
  align-items: center;
  justify-content: space-between;
  max-width: 230px;
  margin-bottom: 40px;
}

.other-cam-h3 {
  font-family: "Merriweather", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 52px;
  color: #080029;
}

.grid-img {
  position: absolute;
}

.other-cam-grid {
  display: grid;
  grid-template-columns: 328px 328px 328px 328px;
  grid-gap: 40px;
  margin-bottom: 40px;
}

.invisible-class {
  transition: all 0.3s ease-in-out;
  position: relative;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.grid-cam {
  width: 328px;
  height: 184px;
  position: relative;
}
.grid-cam:hover .grid-img {
  filter: blur(2px);
}
.grid-cam:hover .invisible-class {
  opacity: 1;
}
.grid-cam:hover .wrapper-invisible {
  opacity: 0.4;
}

.wrapper-invisible {
  transition: all 0.1s ease-in-out;
  position: absolute;
  height: 100%;
  width: 100%;
  background: #0B0B0B;
  opacity: 0;
}

.grid-cam-title {
  transition: all 0.1s ease-in-out;
  font-family: "Merriweather", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 38px;
  text-align: center;
  color: #FFFF;
  opacity: 99;
  margin-bottom: 10px;
  margin-top: 55px;
}

.grid-cam-btn {
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
  opacity: 99;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FCFCFC;
  background: none;
  border: none;
  border-top: 1px solid #FFFF;
  width: 130px;
  margin-left: 96px;
  padding-top: 20px;
  padding-left: 25px;
}

.grid-bnt-arrow {
  padding-left: 10px;
}

.other-cam-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 155px;
}

.other-cam-btn:hover .other-cam-btn-stroke {
  fill: #080029;
}

.other-cam-btn circle:active .other-cam-btn-stroke {
  fill: #150068;
}

/*    Pay and Feed*/
.wrapper-pay {
  padding-top: 100px;
  max-width: 1688px;
  margin: 0 auto 0 auto;
}

.pay-container {
  padding-left: 312px;
}

.pay-h2 {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.115em;
  color: #0B0B0B;
  margin-bottom: 80px;
}

.pay-h3 {
  font-family: "Merriweather", serif;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 36px;
  line-height: 52px;
  color: #0F0049;
}

.safe-img {
  width: 278px;
  height: 214px;
}

.pay-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 824px;
}

.pay-visa-article {
  padding-top: 15px;
}

.pay-article-text {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  max-width: 456px;
  color: #747474;
}

.pay-arrow1 {
  padding-top: 25px;
  padding-left: 100px;
}

.big-section {
  max-width: 100%;
  justify-content: flex-end;
}

.pay-delivery-article {
  padding-top: 124px;
  padding-left: 56px;
}

.pay-arrow2 {
  padding-top: 180px;
  padding-right: 26px;
}

.dinner-h3 {
  max-width: 363px;
}

.pay-dinner-article {
  padding-top: 41px;
  margin-bottom: 155px;
}

.diner-image {
  padding-left: 20px;
  width: 312px;
  height: 312px;
}

/*footer */
.footer {
  background-color: black;
}

.wrapper-footer {
  max-width: 1454px;
  margin: 0 auto;
}

.footer-container {
  padding-left: 11px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 100px;
  border-bottom: 1px solid #747474;
}

.footer-logo {
  margin-bottom: 192px;
}

.footer-school {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 303px;
}

.footer-x {
  width: 9px;
  height: 19px;
  left: 142px;
  top: 22px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFF;
}

.footer-nav-item {
  padding-bottom: 30px;
}

.footer-nav-item:first-child {
  padding-bottom: 40px;
}

.footer-link {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #BCBCBC;
  text-decoration: none;
}

.footer-h2 {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.115em;
  color: #FFFF;
}

.sup-h2 {
  margin-bottom: 46px;
}

.footer-sup-text {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #BCBCBC;
  text-decoration: none;
  width: 332px;
  margin-bottom: 40px;
}

.footer-volunteers-socials {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 339px;
  margin-bottom: 166px;
}

.footer-btn {
  border: 2px solid #FCFCFC;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 20px 75px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  background: none;
  color: #FCFCFC;
  margin-bottom: 80px;
}

.footer-socials {
  color: #BCBCBC;
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.footer-copyrights {
  padding-top: 50px;
  padding-bottom: 59px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.h3-sub {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: #BCBCBC;
}

.footer-btn:hover {
  color: #3888FF;
  border-color: #3888FF;
}

/*# sourceMappingURL=panda-style.css.map */
