body::-webkit-scrollbar {
  display: none;
}

.wrapper {
  min-height: 100%;
}

.visual-hidden, .br-320 {
  display: none;
}

.header-box {
  padding-top: 28px;
  background: white;
  height: 87px;
  margin-bottom: 42px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header-logo {
  padding: 24px 18px 23px 18px;
}

.header-nav {
  padding-left: 97px;
  padding-right: 760px;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
}

.nav-item {
  padding-right: 130px;
}

.nav-item:last-child {
  padding-right: 0;
}

.nav-link {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
  color: #080029;
}

.nav-link:active {
  color: #D9E8FF;
}

.nav-link:hover {
  opacity: 0.75;
}

.nav-about {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
  color: #080029;
}

.active {
  text-shadow: 1px 0 0 currentColor;
  pointer-events: none;
}

.wrapper-main {
  max-width: 1436px;
  margin: 0 auto;
}

.map {
  color: #D9E8FF;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
}

/* oops*/
.h3-oops {
  font-family: "Merriweather", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 52px;
  text-align: center;
  color: #080029;
  padding-top: 100px;
  margin-bottom: 30px;
}

.txt-404 {
  position: absolute;
  left: 293px;
  top: -20px;
  width: 286px;
  height: 181px;
  font-family: "Merriweather", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 144px;
  line-height: 181px;
  text-align: center;
  color: #D9E8FF;
  opacity: 0.65;
}

.oops-section {
  position: relative;
  max-width: 870px;
  margin: 0 auto;
}

.oops-section-text {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-align: center;
  margin-bottom: 50px;
  color: #080029;
}

.oops-btn {
  margin-left: 282px;
  font-family: "Rubik", sans-serif;
  padding: 20px 75px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FCFCFC;
  background: #0F0049;
  border-radius: 5px;
  border: none;
}

.oops-btn:hover {
  background: #080029;
}

.oops-btn:active {
  background: #150068;
}

.oops-video {
  padding-top: 80px;
  padding-left: 460px;
  margin-bottom: 50px;
}

.oops-sup-text {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  max-width: 425px;
  text-align: center;
  color: #747474;
  padding-left: 698px;
  margin-bottom: 80px;
}

/* footer*/
.footer {
  background-color: black;
}

.wrapper-footer {
  max-width: 1454px;
  margin: 0 auto;
}

.footer-container {
  padding-left: 11px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 100px;
  border-bottom: 1px solid #747474;
}

.footer-logo {
  margin-bottom: 192px;
}

.footer-school {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 303px;
}

.footer-x {
  width: 9px;
  height: 19px;
  left: 142px;
  top: 22px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: white;
}

.footer-nav-item {
  padding-bottom: 30px;
}

.footer-nav-item:first-child {
  padding-bottom: 40px;
}

.footer-link {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #BCBCBC;
  text-decoration: none;
}

.footer-h2 {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.115em;
  color: white;
}

.sup-h2 {
  margin-bottom: 46px;
}

.footer-sup-text {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #BCBCBC;
  text-decoration: none;
  width: 332px;
  margin-bottom: 40px;
}

.footer-volunteers-socials {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 339px;
  margin-bottom: 166px;
}

.footer-btn {
  border: 2px solid #FCFCFC;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 20px 75px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  background: none;
  color: #FCFCFC;
  margin-bottom: 80px;
}

.footer-socials {
  color: #BCBCBC;
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.footer-copyrights {
  padding-top: 50px;
  padding-bottom: 59px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.h3-sub {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: #BCBCBC;
}

.footer-btn:hover {
  color: #3888FF;
  border-color: #3888FF;
}

@media (max-width: 1200px) {
  /*         HEADER         */
  .header {
    padding-left: 40px;
    padding-right: 40px;
  }

  .header-logo {
    padding: 22px 0 16px 3px;
  }

  .header-box {
    height: 70px;
    margin: 0 auto 60px;
    max-width: 1120px;
  }

  .nav-item {
    padding-right: 100px;
  }

  .header-nav {
    padding-left: 88px;
    padding-right: 254px;
  }

  .header-profile {
    height: 42px;
    width: 42px;
  }

  /*        OOPS BLOCK                  */
  .h3-oops {
    font-size: 28px;
    line-height: 145%;
  }

  .oops-section {
    max-width: 651px;
  }

  .oops-section-text {
    font-size: 18px;
    line-height: 154%;
  }

  .txt-404 {
    width: 238px;
    height: 151px;
    font-size: 120px;
    line-height: 151px;
    left: 206px;
    top: 0px;
  }

  .oops-btn {
    margin-left: 195px;
    font-size: 16px;
    line-height: 19px;
  }

  .video {
    width: 832px;
    height: 469px;
  }

  .oops-video {
    padding: 80px 184px;
    margin: 0;
  }

  .oops-sup-text {
    font-size: 16px;
    line-height: 154%;
    padding-left: 387px;
  }

  /*        footer          */
  .wrapper-footer {
    margin: 0 40px;
  }

  .footer-container {
    padding: 100px 65px 0 0;
  }

  .footer-logo {
    width: 119px;
    height: 91px;
    margin-bottom: 103px;
  }

  .footer-school {
    flex-direction: column;
    width: 128px;
    height: 176px;
  }

  .footer-h2 {
    font-size: 22px;
    line-height: 26px;
  }

  .footer-volunteers-socials {
    margin-bottom: 141px;
  }

  .footer-socials {
    font-size: 22px;
    line-height: 26px;
  }

  .footer-link {
    font-size: 18px;
    line-height: 154%;
  }
}
@media (max-width: 640px) {
  /*         HEADER         */
  .header {
    padding: 0 0 0 0;
  }

  .header-box {
    z-index: 2;
    justify-content: space-between;
    height: 88px;
    margin: 0 0 0 0;
    width: 600px;
    background: #FCFCFC;
    border: none;
    padding: 0 20px;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.04);
  }

  .nav-item {
    padding-right: 100px;
  }

  .header-nav {
    display: none;
    padding-left: 144px;
    padding-right: 182px;
  }

  .header-logo {
    width: 49.28px;
    height: 38px;
    position: static;
    padding: 0 0 0 0;
  }

  .header-profile {
    content: url("../../assets/images/burger_menu.svg");
    width: 55px;
    height: 35px;
  }

  /*        OOPS BLOCK                  */
  .h3-oops {
    padding-top: 158px;
    font-size: 26px;
    line-height: 145%;
    text-align: center;
    margin-bottom: 25px;
  }

  .oops-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
  }

  .oops-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin-bottom: 70px;
  }

  .oops-section-text {
    font-size: 16px;
    line-height: 154%;
    margin-bottom: 35px;
  }

  .txt-404 {
    font-size: 96px;
    line-height: 121px;
    width: 191px;
    height: 121px;
    left: 190px;
    top: 80px;
  }

  .oops-btn {
    margin-left: 0;
    font-size: 16px;
    line-height: 19px;
  }

  .video {
    width: 600px;
    height: 338px;
  }

  .oops-video {
    padding: 0 0;
    margin-bottom: 40px;
  }

  .oops-sup-text {
    font-size: 14px;
    line-height: 154%;
    padding-left: 0;
    margin-bottom: 60px;
    text-align: center;
  }

  /*        footer          */
  .wrapper-footer {
    margin: 0 20px;
  }

  .footer-container {
    padding: 80px 0 0 0;
    justify-content: normal;
  }

  .footer-nav {
    padding-right: 77px;
  }

  .footer-logo {
    width: 95px;
    height: 74px;
    margin-right: 115px;
    margin-bottom: 60px;
  }

  .footer-icons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .footer-yem {
    width: 93px;
    height: 49px;
  }

  .footer-rs {
    width: 102px;
    height: 38px;
  }

  .footer-school {
    flex-direction: row;
    width: 264px;
    height: 49px;
  }

  .footer-h2 {
    font-size: 22px;
    line-height: 26px;
  }

  .sup-h2 {
    margin-bottom: 30px;
  }

  .footer-sup-text {
    font-size: 16px;
    line-height: 154%;
  }

  .footer-volunteers-socials {
    margin-bottom: 120px;
  }

  .footer-socials {
    font-size: 18px;
    line-height: 21px;
  }

  .footer-link {
    font-size: 16px;
    line-height: 154%;
  }

  .footer-btn {
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 19px;
  }

  .h3-sub {
    font-size: 14px;
    line-height: 145%;
  }

  .footer-copyrights {
    padding: 20px 0;
  }
}
@media (max-width: 320px) {
  .header {
    padding: 0 0 0 0;
  }

  .header-box {
    z-index: 2;
    justify-content: space-between;
    height: 59px;
    margin: 0 0 0 0;
    width: 300px;
    background: #FCFCFC;
    border: none;
    padding: 0 10px;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.04);
  }

  .nav-item {
    padding-right: 100px;
  }

  .header-nav {
    display: none;
    padding-left: 144px;
    padding-right: 182px;
  }

  .header-logo {
    position: static;
    padding: 0 0 0 0;
    width: 38px;
    height: 29px;
  }

  .header-profile {
    content: url("../../assets/images/burger_menu.svg");
    width: 35px;
    height: 21px;
  }

  /*        OOPS BLOCK                  */
  .br-320 {
    display: block;
  }

  .h3-oops {
    padding-top: 98px;
    font-size: 20px;
    line-height: 145%;
    text-align: center;
    margin-bottom: 25px;
  }

  .oops-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
  }

  .oops-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 578px;
    margin-bottom: 40px;
  }

  .oops-section-text {
    font-size: 14px;
    line-height: 154%;
    margin-bottom: 25px;
    max-width: 300px;
  }

  .txt-404 {
    font-size: 96px;
    line-height: 121px;
    width: 191px;
    height: 121px;
    left: 55px;
    top: 21px;
  }

  .oops-btn {
    margin-left: 0;
    font-size: 14px;
    line-height: 17px;
  }

  .video {
    width: 300px;
    height: 169px;
  }

  .oops-video {
    padding: 0 0;
    margin-bottom: 30px;
  }

  .oops-sup-text {
    font-size: 12px;
    line-height: 154%;
    padding-left: 0;
    margin-bottom: 50px;
    text-align: center;
  }

  /*        footer          */
  .wrapper-footer {
    margin: 0 10px;
  }

  .footer-container {
    padding: 60px 0 0 0;
  }

  .footer-logo {
    width: 60px;
    height: 47px;
    margin-right: 100px;
    margin-bottom: 98px;
  }

  .footer-nav {
    padding-right: 0;
  }

  .footer-icons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 66px;
  }

  .footer-yem {
    width: 80px;
    height: 42px;
  }

  .footer-rs {
    width: 84px;
    height: 31px;
  }

  .footer-school {
    flex-direction: column-reverse;
    width: 84px;
    height: 132px;
  }

  .footer-h2 {
    font-size: 18px;
    line-height: 21px;
  }

  .sup-h2 {
    text-align: center;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 30px;
  }

  .footer-sup-text {
    font-size: 14px;
    line-height: 154%;
    text-align: center;
    max-width: 300px;
    margin-bottom: 30px;
  }

  .footer-volunteers-socials {
    max-width: 300px;
    margin-bottom: 36px;
  }

  .footer-socials {
    font-size: 14px;
    line-height: 17px;
  }

  .footer-link {
    font-size: 14px;
    line-height: 154%;
  }

  .footer-nav-item:first-child {
    padding-bottom: 25px;
  }

  .footer-nav-item {
    padding-bottom: 21px;
  }

  .footer-nav-item:last-child {
    padding-bottom: 0;
  }

  .footer-volunteers-sup {
    max-width: 300px;
  }

  .footer-btn {
    padding: 22px 77px;
    margin-bottom: 37px;
    font-size: 13.5px;
    line-height: 17px;
    font-weight: 500;
  }

  .h3-sub {
    font-size: 11px;
    line-height: 145%;
  }

  .footer-copyrights {
    flex-direction: column-reverse;
    align-items: normal;
    padding: 20px 0;
  }

  .ds-h3 {
    margin-bottom: 8px;
  }
}

/*# sourceMappingURL=style.css.map */
